*,*::before,*::after{box-sizing: border-box;}

body{
    margin:0;
    padding:0;
}

#Mymsg{
    background: steelblue;
    color:white;
}

#Mymsg2{
    background: firebrick;
    color:white;
}

table{
    display:flex;
    flex-direction: column;
    background:rgb(73, 73, 73);
    font-size:1.2em;
}

tr{
    display:flex;
}
tr:first-child{
    font-weight: bold;
}

td{
    text-align: center;
    padding: .5em;
    margin:5px;
    border-radius: 5px;
    border:2px black solid;
}

tr:nth-child(odd) td{
    background:darkgrey;
}

tr:nth-child(even) td{
    background:lightgrey;
}

td:nth-child(1){
    flex-basis: 45%;
}

td:nth-child(2){
    flex-basis: 45%;
}
td:nth-child(3){
    flex-basis: 10%;
}



#pfc{
    letter-spacing: 1.5px;
    position: relative;
    margin:100px auto;
    width:50%;
    height:300px;
    background:rgb(22, 84, 155);
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
}

#pfc img{
    position:absolute;
    display:none;
    top:45%;
}

#pfc img:nth-of-type(1){
    left:20%;
    transform: translateX(-50%);
}

#pfc img:nth-of-type(2){
    left:50%;
    transform: translateX(-50%);
}

#pfc img:nth-of-type(3){
    left:80%;
    transform: translateX(-50%);
}



#pfc h2{
    color:white;
    position:absolute;
    top:3em;
    text-align: center;
    width: 100%;
}

#pfc button{
    position:absolute;
    padding:1em 2em;
    border-radius: 10px;
    border: 0;
    width:35%;
    font-size:1em;
    font-weight: bold;
    z-index:1;
    left:50%;
    transform: translateX(-50%);
    bottom:20%;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 3px 1px rgba(0, 0, 0, 0.1);
}

#pfc #replay{
    display:none;
    width:30%;
}

#pfc #resultat{
    position:absolute;
    top:40%;
    width: 100%;
    text-align: center;
    color:white;
}

#score{
    color:white;
    background:rgb(17, 66, 122);
    position:absolute;
    font-size: 2em;
    top:4%;
    margin:15px;
    padding:.2em;
    display:none;
    border-radius: 6px;
    box-shadow: 0px 10px 3px 1px rgba(0, 0, 0, 0.1);
    z-index:1;
}
#score_ia{
    color:white;
    background:rgb(17, 66, 122);
    position:absolute;
    top:4%;
    right:0;
    font-size: 2em;
    margin:15px;
    padding:.2em;
    display:none;
    border-radius: 6px;
    box-shadow: 0px 10px 3px 1px rgba(0, 0, 0, 0.1);
    z-index:1;
}